// Converse SVG Icons
.converse-send-icon {
  width: 24px;
  height: 24px;
  background-color: #333;
  -webkit-mask-image: url('/static/converse/svg/icon-录发送.svg');
  mask-image: url('/static/converse/svg/icon-录发送.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.converse-picture-icon {
  width: 24px;
  height: 24px;
  background-color: #333;
  -webkit-mask-image: url('/static/converse/svg/icon-图片.svg');
  mask-image: url('/static/converse/svg/icon-图片.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.converse-stop-icon {
  width: 24px;
  height: 24px;
  background-color: #333;
  -webkit-mask-image: url('/static/converse/svg/icon-录音.svg');
  mask-image: url('/static/converse/svg/icon-录音.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.converse-file-icon {
  width: 24px;
  height: 24px;
  background-color: #333;
  -webkit-mask-image: url('/static/converse/svg/icon-文件.svg');
  mask-image: url('/static/converse/svg/icon-文件.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.converse-camera-icon {
  width: 24px;
  height: 24px;
  background-color: #333;
  -webkit-mask-image: url('/static/converse/svg/icon-拍摄.svg');
  mask-image: url('/static/converse/svg/icon-拍摄.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}
