@use '@/static/chat/index.scss' as *;
@use '@/static/converse/index.scss' as *;
@use '@/static/navbar/index.scss' as *;
@use '@/static/home/index.scss' as *;
@use '@/static/user/index.scss' as *;
@use 'highlight.js/styles/github.css' as *;
@use './markdown.scss' as *;

view,
:before,
:after {
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

page,
view,
text,
image,
button,
video,
map,
scroll-view,
swiper,
input,
textarea {
  box-sizing: border-box;
  background-origin: border-box;
  --hi-bg-color: #f2f2f2;
  --hi-primary-color: #4069ff;
  --hi-secondary-color: #ff9500ff;
  --hi-h1-color: #121212ff;
  --hi-h2-color: #333333ff;
  --hi-h3-color: #666666ff;
  --wot-textarea-fs: 16px;
  --wot-color-theme: var(--hi-primary-color);
  --wot-color-success: #4e92de;
}
page {
  height: 100%;
}

.hi-converse__textarea {
  max-height: 100px;
  --wot-textarea-fs: 14px;
  --wot-cell-line-height: 30px;
}

.hi-message-card--checkbox-text .wd-checkbox__txt {
  white-space: normal !important;
  display: flex !important;
  flex-direction: column;
  align-items: flex-end;
}
.hi-message-card--checkbox-text {
  --wot-checkbox-label-margin: 20px;
  width: 100%;
}

.hi-message-card--checkbox-message {
  width: 100%;
  background-color: #f3f3f3;
  --wot-checkbox-margin: 0;
}
.hi-message-card--checkbox-message.is-hidden {
  .hi-message-card--checkbox-shape {
    display: none !important;
  }
  .hi-message-card--checkbox-text {
    --wot-checkbox-label-margin: 0;
  }
}

.hi-message-card--checkbox-shape {
  transform: translateY(30px);
}

.hi-side--container.is-open {
  .hi-container {
    height: calc(100vh - 100rpx) !important;
  }
  .navbar__status {
    height: 20px;
  }
}

.hi-sidebar-content--tab-nav {
  // --tab-nav-font-size: 28rpx;
}

.hi-publish-popup--textarea {
  --wot-textarea-fs: 14px;
  --wot-cell-line-height: 24px;
  height: 28px;
}

.hi-publish-popup--textarea-container {
  --wot-textarea-bg: #f3f3f3;
  padding: 16px 20px 10px 20px !important;
}

.hi-publish-popup--textarea-placeholder {
  color: #9ca3af;
  font-size: 14px;
  line-height: 24px;
}

.hi-home--tab-nav {
  // --tab-nav-font-size: 28rpx;
  padding: 0 10rpx;
}

.hi-detail--textarea,
.hi-comment-popup--textarea {
  --wot-textarea-fs: 14px;
  --wot-cell-line-height: 24px;
  max-height: 50px;
}

.hi-voice--textarea {
  max-height: 90px;
}

.hi-detail--textarea-container,
.hi-comment-popup--textarea-container,
.hi-voice--textarea-container {
  --wot-textarea-bg: #f1f1f1;
  padding: 14px !important;
}

.hi-voice--textarea-container {
  --wot-textarea-bg: white;
}

.hi-detail--textarea-placeholder,
.hi-comment-popup--textarea-placeholder,
.hi-voice--textarea-placeholder {
  color: #9ca3af;
  font-size: 14px;
  line-height: 24px;
}

.hi-voice--textarea-placeholder {
  color: #333;
}

.hi-user--tab-nav .hi-tab-nav--left {
  gap: 70rpx !important;
}

.hi-share--wrapper .hi-message-card--wrapper {
  transform: scaleY(1) !important;
  -webkit-transform: scaleY(1) !important;
}

.share-btn {
  background-color: transparent;
  border-radius: 12px;
  &::after {
    display: none;
  }
}

.hi-input-popup--textarea {
  --wot-textarea-fs: 14px;
  --wot-cell-line-height: 24px;
  height: 28px;
}

.hi-input-popup--textarea-container {
  --wot-textarea-bg: #f3f3f3;
  padding: 10px 20px !important;
  border-radius: 12px;
}

.hi-input-popup--textarea-placeholder {
  color: #9ca3af;
  font-size: 14px;
  line-height: 24px;
}

.hi-message-card__rich-text {
  color: #333333;
  line-height: 48rpx;
  white-space: pre-wrap;
  word-break: break-all;
  max-width: 100%;
}

.wd-tabs-transparent {
  background: transparent !important;
  .wd-tabs__nav {
    background-color: transparent !important;
  }
}

.hi-custom-input {
  padding: 2px 12px;
  border-radius: 6px;
  text-align: center;
  background: #ffffff;
}

.hi-tabs {
  background: transparent !important;
  --wot-tabs-nav-line-bg-color: black !important;
  .wd-tabs__nav {
    background: transparent !important;
    .wd-tabs__nav-item {
      font-weight: 600;
      color: gray;
      font-size: 32rpx;
      &.is-active {
        color: #424242;
      }
    }
  }
}
