// Home SVG Icons
.thumb-up-icon {
  background-color: #333;
  -webkit-mask-image: url('/static/home/svg/Frame 2036082628.svg');
  mask-image: url('/static/home/svg/Frame 2036082628.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  width: 48rpx;
  height: 48rpx;
}

.comment-icon {
  background-image: url('/static/home/svg/comment_28.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 48rpx;
  height: 48rpx;
}

.menu-icon {
  background-image: url('/static/home/svg/Group 2090053351.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 48rpx;
  height: 48rpx;
}

.search-icon {
  background-color: #333;
  -webkit-mask-image: url('/static/home/svg/Group 2090053350.svg');
  mask-image: url('/static/home/svg/Group 2090053350.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  width: 48rpx;
  height: 48rpx;
}

.star-info-icon {
  background-image: url('/static/home/svg/Group 1.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 48rpx;
  height: 48rpx;
}

.wechat-icon {
  background-image: url('/static/home/svg/形状结合.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 48rpx;
  height: 48rpx;
}

.chat-star-icon {
  background-image: url('/static/home/svg/Frame 2090056624.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 48rpx;
  height: 48rpx;
}
