// Chat SVG Icons
.share-wechat-icon {
  width: 48rpx;
  height: 48rpx;
  background-image: url(/static/chat/svg/分享微信.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.publish-icon {
  width: 48rpx;
  height: 48rpx;
  background-color: #333;
  -webkit-mask-image: url('/static/chat/svg/Frame 2090056626 (6).svg');
  mask-image: url('/static/chat/svg/Frame 2090056626 (6).svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.share-icon {
  width: 48rpx;
  height: 48rpx;
  background-color: #333;
  -webkit-mask-image: url('/static/chat/svg/Union.svg');
  mask-image: url('/static/chat/svg/Union.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.next-level-icon {
  width: 48rpx;
  height: 48rpx;
  background-color: #333;
  -webkit-mask-image: url('/static/chat/svg/icon-下一级.svg');
  mask-image: url('/static/chat/svg/icon-下一级.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.edit-chat-icon {
  width: 48rpx;
  height: 48rpx;
  background-color: #333;
  -webkit-mask-image: url('/static/chat/svg/icon-编辑对话列表.svg');
  mask-image: url('/static/chat/svg/icon-编辑对话列表.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.delete-chat-icon {
  width: 48rpx;
  height: 48rpx;
  background-color: #333;
  -webkit-mask-image: url('/static/chat/svg/icon-删除对话列表.svg');
  mask-image: url('/static/chat/svg/icon-删除对话列表.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.delete-float-menu-icon {
  width: 48rpx;
  height: 48rpx;
  background-color: #333;
  -webkit-mask-image: url('/static/chat/svg/Frame 2090056626 (3).svg');
  mask-image: url('/static/chat/svg/Frame 2090056626 (3).svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.refresh-float-menu-icon {
  width: 48rpx;
  height: 48rpx;
  background-color: #333;
  -webkit-mask-image: url('/static/chat/svg/Frame 2090056626 (4).svg');
  mask-image: url('/static/chat/svg/Frame 2090056626 (4).svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.copy-float-menu-icon {
  width: 48rpx;
  height: 48rpx;
  background-color: #333;
  -webkit-mask-image: url('/static/chat/svg/Frame 2090056626 (1).svg');
  mask-image: url('/static/chat/svg/Frame 2090056626 (1).svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.excerpt-copy-float-menu-icon {
  width: 48rpx;
  height: 48rpx;
  background-color: #333;
  -webkit-mask-image: url('/static/chat/svg/Frame 2090056626.svg');
  mask-image: url('/static/chat/svg/Frame 2090056626.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.favorite-float-menu-icon {
  width: 48rpx;
  height: 48rpx;
  background-color: #333;
  -webkit-mask-image: url('/static/chat/svg/Frame 2090056626 (2).svg');
  mask-image: url('/static/chat/svg/Frame 2090056626 (2).svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.wave-icon {
  width: 48rpx;
  height: 48rpx;
  background-color: #333;
  -webkit-mask-image: url('/static/chat/svg/wave.svg');
  mask-image: url('/static/chat/svg/wave.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.message-send-icon {
  background-image: url('/static/chat/svg/Frame 2090056621.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 48rpx;
  height: 48rpx;
}

.message-stop-icon {
  background-image: url('/static/chat/svg/Frame 2090056620.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 48rpx;
  height: 48rpx;
}

.message-voice-icon {
  background-image: url('/static/chat/svg/Frame 2090056619.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 48rpx;
  height: 48rpx;
}

.message-keyboard-icon {
  background-image: url('/static/chat/svg/Frame 2090056622.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 48rpx;
  height: 48rpx;
}

.message-return-icon {
  width: 48rpx;
  height: 48rpx;
  background-color: #333;
  -webkit-mask-image: url('/static/chat/svg/Frame 2090056648.svg');
  mask-image: url('/static/chat/svg/Frame 2090056648.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.message-check-icon {
  width: 48rpx;
  height: 48rpx;
  background-color: #333;
  -webkit-mask-image: url('/static/chat/svg/Vector 3631.svg');
  mask-image: url('/static/chat/svg/Vector 3631.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}
