// Chat SVG Icons
.share-wechat {
  background-image: url(/static/chat/svg/分享微信.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.next-level {
  background-image: url(/static/chat/svg/下一级.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.copy-icon {
  background-image: url(/static/chat/svg/复制.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.chat-icon {
  background-image: url(/static/chat/svg/对话.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.favorite-icon {
  background-image: url(/static/chat/svg/收藏.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.add-icon {
  background-image: url(/static/chat/svg/添加.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.like-backup {
  background-image: url(/static/chat/svg/点赞备份.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.wechat-icon {
  background-image: url(/static/chat/svg/微信.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.voice-icon {
  background-image: url(/static/chat/svg/语音.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
