// Chat SVG Icons
.share-wechat-icon {
  width: 24px;
  height: 24px;
  background-color: #333;
  -webkit-mask-image: url('/static/chat/svg/分享微信.svg');
  mask-image: url('/static/chat/svg/分享微信.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.refresh-icon {
  width: 24px;
  height: 24px;
  background-color: #333;
  -webkit-mask-image: url('/static/chat/svg/icon-刷薪.svg');
  mask-image: url('/static/chat/svg/icon-刷薪.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.copy-icon {
  width: 24px;
  height: 24px;
  background-color: #333;
  -webkit-mask-image: url('/static/chat/svg/icon-复制.svg');
  mask-image: url('/static/chat/svg/icon-复制.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.copy-alt-icon {
  width: 24px;
  height: 24px;
  background-color: #333;
  -webkit-mask-image: url('/static/chat/svg/icon-复制(1).svg');
  mask-image: url('/static/chat/svg/icon-复制(1).svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.record-send-icon {
  width: 24px;
  height: 24px;
  background-color: #333;
  -webkit-mask-image: url('/static/chat/svg/icon-录发送.svg');
  mask-image: url('/static/chat/svg/icon-录发送.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.record-icon {
  width: 24px;
  height: 24px;
  background-color: #333;
  -webkit-mask-image: url('/static/chat/svg/icon-录音.svg');
  mask-image: url('/static/chat/svg/icon-录音.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.wechat-icon {
  width: 24px;
  height: 24px;
  background-color: #333;
  -webkit-mask-image: url('/static/chat/svg/icon-微信.svg');
  mask-image: url('/static/chat/svg/icon-微信.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.favorite-icon {
  width: 24px;
  height: 24px;
  background-color: #333;
  -webkit-mask-image: url('/static/chat/svg/icon-收藏.svg');
  mask-image: url('/static/chat/svg/icon-收藏.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.add-icon {
  width: 24px;
  height: 24px;
  background-color: #333;
  -webkit-mask-image: url('/static/chat/svg/icon-添加.svg');
  mask-image: url('/static/chat/svg/icon-添加.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.like-icon {
  width: 24px;
  height: 24px;
  background-color: #333;
  -webkit-mask-image: url('/static/chat/svg/icon-点赞.svg');
  mask-image: url('/static/chat/svg/icon-点赞.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.voice-icon {
  width: 24px;
  height: 24px;
  background-color: #333;
  -webkit-mask-image: url('/static/chat/svg/icon-语音.svg');
  mask-image: url('/static/chat/svg/icon-语音.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.expand-icon {
  width: 24px;
  height: 24px;
  background-color: #333;
  -webkit-mask-image: url('/static/chat/svg/展开.svg');
  mask-image: url('/static/chat/svg/展开.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.collapse-icon {
  width: 24px;
  height: 24px;
  background-color: #333;
  -webkit-mask-image: url('/static/chat/svg/未展开.svg');
  mask-image: url('/static/chat/svg/未展开.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.share-icon {
  width: 24px;
  height: 24px;
  background-color: #333;
  -webkit-mask-image: url('/static/chat/svg/icon-分享.svg');
  mask-image: url('/static/chat/svg/icon-分享.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.next-level-icon {
  width: 24px;
  height: 24px;
  background-color: #333;
  -webkit-mask-image: url('/static/chat/svg/icon-下一级.svg');
  mask-image: url('/static/chat/svg/icon-下一级.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.edit-chat-icon {
  width: 24px;
  height: 24px;
  background-color: #333;
  -webkit-mask-image: url('/static/chat/svg/icon-编辑对话列表.svg');
  mask-image: url('/static/chat/svg/icon-编辑对话列表.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

.delete-chat-icon {
  width: 24px;
  height: 24px;
  background-color: #333;
  -webkit-mask-image: url('/static/chat/svg/icon-删除对话列表.svg');
  mask-image: url('/static/chat/svg/icon-删除对话列表.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}
