@use '@/static/chat/index.scss' as *;
@use '@/static/navbar/index.scss' as *;

view,
:before,
:after {
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

view,
textarea,
text {
  font-family: 'PingFangSC', 'PingFang SC';
}

// 登录弹窗
.login_model_header {
  background: linear-gradient(180deg, #ffefee 0%, #ffffff 100%);
  --wot-action-sheet-title-fs: 34rpx;
}

.login_model {
  --wot-button-large-height: 100%;
  --wot-button-large-radius: 15rpx;
}

.container {
  --hi-bg-color: #f3f3f3;
}

.hi-converse__textarea {
  max-height: 100px;
  --wot-textarea-fs: 16px;
  --wot-cell-line-height: 28px;
}

.hi-messages--checkbox-text .wd-checkbox__txt {
  white-space: normal !important;
}
.hi-messages--checkbox-text {
  --wot-checkbox-label-margin: 20px;
}

.hi-messages--checkbox-message {
  background-color: #f3f3f3;
  --wot-checkbox-margin: 0;
}

.hi-messages--checkbox-shape {
  transform: translateY(30px);
}
