@use '@/static/chat/index.scss' as *;
@use '@/static/converse/index.scss' as *;
@use '@/static/navbar/index.scss' as *;

view,
:before,
:after {
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

page,
view,
text,
image,
button,
video,
map,
scroll-view,
swiper,
input,
textarea,
navigator {
  position: relative;
  background-origin: border-box;
  isolation: isolate;
  font-family: 'PingFangSC', 'PingFang SC';
  --hi-bg-color: #f3f3f3;
  --hi-primary-color: #ff3b30ff;
  --hi-secondary-color: #ff9500ff;
  --hi-h1-color: #121212ff;
  --hi-h2-color: #333333ff;
  --hi-h3-color: #666666ff;
}
page {
  height: 100%;
}

// 登录弹窗
.login_model_header {
  background: linear-gradient(180deg, #ffefee 0%, #ffffff 100%);
  --wot-action-sheet-title-fs: 34rpx;
}

.login_model {
  --wot-button-large-height: 100%;
  --wot-button-large-radius: 15rpx;
}

.hi-converse__textarea {
  max-height: 100px;
  --wot-textarea-fs: 16px;
  --wot-cell-line-height: 28px;
}

.hi-message-card--checkbox-text .wd-checkbox__txt {
  white-space: normal !important;
  display: flex !important;
  flex-direction: column;
  align-items: flex-end;
}
.hi-message-card--checkbox-text {
  --wot-checkbox-label-margin: 20px;
}

.hi-message-card--checkbox-message {
  background-color: #f3f3f3;
  --wot-checkbox-margin: 0;
}
.hi-message-card--checkbox-message.is-hidden {
  .hi-message-card--checkbox-shape {
    display: none !important;
  }
  .hi-message-card--checkbox-text {
    --wot-checkbox-label-margin: 0;
  }
}

.hi-message-card--checkbox-shape {
  transform: translateY(30px);
}

.hi-side--container.is-open {
  .hi-container {
    height: calc(100vh - 100rpx) !important;
  }
  .navbar__status {
    height: 20px;
  }
}

.hi-sidebar-content--tab-nav {
  --tab-nav-font-size: 28rpx;
}
